/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.sobrenosotros {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}



/* Header */

.bg-color {
    background-color: #111;
    
}
.bg-color a{
    color: white;
}
.bg-color a:hover{
    color: #ff5733;
}

header {
    background-color: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
    
}

header h1 a {
    margin-bottom: 10px;
    font-size: 36px;
    
    
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #ff5733; /* Efecto hover: cambia a un color naranja */
}


/* Main Content */

h5 {
    color: black;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.6;
    text-align: center;
}
main {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


section h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

section img {
    border-radius: 10px;
    margin-bottom: 15px;
}

section p {
    font-size: 16px;
    color: #666;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    color: #ff5733; /* Efecto hover en los enlaces del footer */
}


/* Barra lateral */
/* .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; 
    height: auto;
    background-color: #111;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000; 
}

.sidebar-logo {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 0px;
}

.sidebar-logo:hover {
    color: #ff5733; 
} */

/* Contenido principal */
.content {
    margin-left: 220px; 
    padding: 20px;
}

.carouselauto1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


/* Responsive mobile*/

@media (max-width: 500px){
    /* Header */
    header {
        flex-direction: row;
        align-items:center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    .carouselauto1 {
        flex-direction: column;
    }
    section {
        width: 95%;
    }
    .sobrenosotros {
        height: auto;
        padding: 2%;
    }
    .mapa {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .mapa iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }


}


/* Responsive tablet*/

@media (min-width: 501px) and (max-width: 950px){
    header {
        flex-direction: row;
        align-items:center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    .carouselauto1 {
        flex-direction: column;
    }
    section {
        width: 95%;
    }
    .sobrenosotros {
        height: auto;
        padding: 2%;
    }
    .mapa {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .mapa iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

}





 