.locales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    > div {
        flex: 1;
        margin: 0 10px;
      }
  }
  
  
  